import Request from '@/api/service/request';

/**
* * 查询内容${annotationName}
*/
export const fetchGet${className}ListByPage = (data: any) => {
    const page = data.page;
    const limit = data.limit;
    return Request({
        url: `/${commonPreFix}/get${className}ListByPage/${page}/${limit}`,
        method: 'GET',
        params: data,
    });
};

/**
* * 添加${annotationName}
* @param data
*/
export const fetchAdd${className} = (data: any) => {
    return Request({ url: '/${commonPreFix}/add${className}', method: 'POST', data });
};

/**
* * 更新${annotationName}
* @param data
*/
export const fetchUpdate${className} = (data: any) => {
    return Request({ url: '/${commonPreFix}/update${className}', method: 'PUT', data });
};

/**
* * 删除用户${annotationName}
* @param data
*/
export const fetchDelete${className}ByIds = (data: any) => {
    return Request({ url: '/${commonPreFix}/delete${className}ByIds', method: 'DELETE', data });
};