package cn.bunny.services.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.apache.ibatis.annotations.Param;
import java.util.List;

/**
 * <p>
 * ${classTitle} Mapper 接口
 * </p>
 *
 * @author Bunny
 * @since ${date}
 */
@Mapper
public interface ${originalName}Mapper extends BaseMapper<${originalName}> {

    /**
     * * 分页查询${classTitle}内容
     *
     * @param pageParams ${classTitle}分页参数
     * @param dto        ${classTitle}查询表单
     * @return ${classTitle}分页结果
     */
    IPage<${originalName}Vo> selectListByPage(@Param("page") Page<${originalName}> pageParams, @Param("dto") ${originalName}Dto dto);

    /**
     * 物理删除${classTitle}
     *
     * @param ids 删除 id 列表
     */
    void deleteBatchIdsWithPhysics(List<Long> ids);
}
