<script lang="ts" setup>
import { $t } from '@/plugins/i18n';
import { sexConstant } from '@/enum/baseConstant';
import SimpleDialog from '@/components/Dialog/SimpleDialog.vue';
import { ref } from 'vue';
import { FormInstance } from 'element-plus';
import { rules } from '${columnsPath}columns';
import { userStatus } from '@/enum/views/userConstant';
import UploadDialogImage from '@/components/Upload/UploadDialogImage.vue';
import { ${className}AddDto, ${className}State, ${className}UpdateDto } from '${storeTypePath}${lowercaseName}';
import { use${className}Store } from '${storePath}${lowercaseName}';

defineProps({
	// 是否显示弹窗
	visible: {
		type: Boolean,
		default: false,
	},
	// 标题内容
	title: {
		type: String,
	},
	// 表单内容
	form: {
		type: Object as PropType<${className}AddDto>,
	},
	// 关闭弹窗
	onClose: {
		type: Function as PropType<any>,
		default: () => {},
	},
	// 提交呢内容
	onSubmit: {
		type: Function as PropType<any>,
	},
	// 上传成功后毁掉
	onUploadCallback: {
		type: Function as PropType<any>,
		default: () => {},
	},
});

const ruleFormRef = ref<FormInstance>();
</script>

<template>
	<SimpleDialog :show="visible" :title="title" width="600" @onCancel="onClose" @onConfirm="onSubmit(ruleFormRef)">
		<el-form ref="ruleFormRef" :model="form" :rules="rules" class="grid" isDefault-icon label-position="left">
#foreach($item in $addDtoFormList)
    #if($item.name == 'image')
          <!-- $item.annotation -->
			<el-form-item :label="$t('user.image')" prop="image">
				<UploadDialogImage :image-url="form.image" type="avatar" @uploadCallback="onUploadCallback" />
			</el-form-item>

    #elseif($item.name == 'avatar')
          <!-- $item.annotation -->
			<el-form-item :label="$t('user.avatar')" prop="avatar">
				<UploadDialogImage :image-url="form.avatar" type="avatar" @uploadCallback="onUploadCallback" />
			</el-form-item>

    #elseif($item.name == 'sex')
          <!-- $item.annotation -->
        <el-form-item :label="$t('user.sex')" prop="sex">
            <el-select v-model="form.sex!" :placeholder="$t('user.sex')" clearable filterable>
                <el-option v-for="(item, index) in sexConstant" :key="index" :label="item.label" :navigationBar="false" :value="item.value" />
            </el-select>
        </el-form-item>

    #elseif($item.name == 'status')
      <!-- $item.annotation -->
        <el-form-item :label="$t('user.status')" prop="status">
            <el-select v-model="form.status!" :placeholder="$t('user.$item.name')" clearable filterable>
                <el-option v-for="(item, index) in userStatus" :key="index" :label="item.label" :navigationBar="false" :value="item.value" />
            </el-select>
        </el-form-item>

    #else
         <!-- $item.annotation -->
        <el-form-item :label="$t('${commonPreFix}.$item.name')" prop="$item.name">
            <el-input v-model="form.$item.name!" :placeholder="$t('${commonPreFix}.$item.name')" clearable />
        </el-form-item>
	#end
#end
		</el-form>

		<template #footer-add>
			<slot name="footer" />
		</template>
	</SimpleDialog>
</template>
