<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bunny.services.mapper.PowerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.bunny.dao.entity.system.Power">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="power_code" property="powerCode"/>
        <result column="power_name" property="powerName"/>
        <result column="request_url" property="requestUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, power_code, power_name, request_url, create_time, update_time, create_user, update_user, is_deleted
    </sql>

    <!-- 根据用户id查询当前用户所有角色 -->
    <select id="selectListByUserId" resultType="cn.bunny.dao.entity.system.Power">
        SELECT p.*
        FROM sys_user u,
             sys_user_role ur,
             sys_role_power rp,
             sys_power p
        WHERE u.id = ur.user_id
          AND ur.role_id = rp.role_id
          AND rp.power_id = p.id
          AND u.id = #{userId}
    </select>
    <select id="selectListByPowerCodes" resultType="cn.bunny.dao.entity.system.Power">
        SELECT * FROM sys_power WHERE power_code IN
        <foreach collection="powerCodes" separator="," item="code" open="(" close=")">
            #{code}
        </foreach>
    </select>
</mapper>
